
#main{
	background-image: url('images/img1.jpg');
	background-size: 100% 100%;
	width: 100%;
	min-height: 830px;
	background-repeat: no-repeat;
}
#btn
{
	
	text-align: right;
}
.h1
{
	display: inline;
}
.hii{
	font-size: 70px;
	
}
.pp{
	font-size: 25px;
}
#b1{
	background-color: blue;
	border-color: blue;
	border-radius: 5px;
	color: white;
	margin-left: 15px;
	width: 150px;
}
#b2{
	color: blue;
	border:2px solid blue;
	border-radius: 5px;
	margin-left: 15px;
	width: 150px;
}
.main1{
	width: 100%;
	min-height: 400px;


}
.m11{
	text-align: center;
}
.card
{
	text-align: center;
	min-height: 200px;
	width: 200px;
}
.p1
{
	font-size: 20px;
}
.fa-square-check
{
	color: blue;
}
.ab
{
	min-height: 500px;
	width: 700px;
}
#bb{
	color: gray;
	border:2px solid gray;
	border-radius: 5px;
	margin-left: 23px;
	width: 150px;
}
.main3
{
	min-height: 450px;
	width: 100%;
	text-align: center;
}
.ready{
	color: white;
}
#bbb
{
	color: white;
	border:2px solid white;
	border-radius: 5px;
	width: 150px;
}
.abb
{
	min-height: 300px;
	width: 300px;
}
.cn{
	text-align: center;
	color: blue;
}
.im1
{
	height: 600px;
width: 600px;
}
.cr{
	height: 125px;
	width: 100px;

}
.c11
{
	min-height: 300px;
	width: 500px;
}
.dno
{
	text-align: left;
}
.dno1
{
	text-align: right;
}
.main4{
	min-height: 100px;
	width: 100%;
	color: white;
}
.con
{
	width: 100%;
}